.menu-desplegable {
    display: none;
}

.dropdown-item {
    display: none;
}

.show .dropdown-item {
    display: block;
}

.menu-desplegable.show {
    display: block;
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
    transform: translate(0px, 40px);
}