/* styles.css */
.body {
    font-family: Arial, sans-serif;
      background-image: url('../img/bg_login.jpg'), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
      background-size: cover;
      background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 35%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-left: 65%
}


form {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 5%;
    padding: 20px;
    background-color:   
 #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

label {
    display: block;
    margin-bottom:   
 5px;
}

input[type="text"],
input[type="email"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;   

}

a {
    
    color: #fff;
}

img{
    margin-top: 10px;
    margin-left: 10%;
    width: 400px;
    height: 300px;
}
 p {

    margin-bottom: 5px;
 }

footer {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 32.5%;
    transform: translateX(-50%);
    text-align: center;

}