*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carrousel{
    width: 100%;
}

.conteCarrousel{
    border-radius: 7%;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%;
}

.itemCarrouselTarjeta{
   position: absolute;
   align-items: center;
   justify-content: center;
    
    
}

.itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px; 
}

.itemCarrouselArrows > i:hover {
    cursor: pointer;
}
.my-icon-size {
  font-size: 200px;
  color: black;
  display: flex;
  justify-content: space-around;
}

#itemCarrouselTarjeta-1 {
border-radius:20%;
background-color: white;
height: 300px;
width: 300px;
position: absolute;
align-content: center;
}


#itemCarrousel-1{
    background-color: rgb(205,201,201);
}

#itemCarrousel-2{
    background-color: rgb(205,201,201);;
}

#itemCarrousel-3{
    background-color: rgb(205,201,201);
}
#itemCarrousel-4{
    background-color: rgb(205,201,201);
}#itemCarrousel-5
{
    background-color: rgb(205,201,201);
}#itemCarrousel-6
{
    background-color: rgb(205,201,201);
}

.conteCarrouselController{
    margin-top: 10px;
    border-radius: 4%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: gainsboro;
}

.conteCarrouselController > a{
    text-decoration: none;
    font-size: 2em;
    color: grey;
}

.itemCarrouselArrows > a > i{
    color: white;
}
