
  /* General Styling */
  #divPrincipalDetalleLibro {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #divBodyDetalleLibro {
    font-family: "Arial", sans-serif;
    background-color: #f4f7f9;
    color: #333;
  }

  .book-details-container {
    max-width: 1200px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .book-header {
    display: flex;
    margin-bottom: 30px;
  }

  .book-image {
    flex: 1;
    max-width: 200px;
    padding-right: 30px;
  }

  .book-image img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
  }

  .book-info {
    flex: 2;
  }

  .book-info h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
  }

  .book-info p {
    font-size: 1.1rem;
    margin-bottom: 10px;
    line-height: 1.5;
  }

  .book-info p strong {
    color: #5a5a5a;
  }

  /* Holdings Section */
  .holdings-section {
    margin-top: 40px;
  }

  .holdings-section h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #444;
  }

  .vol-table-container {
    max-height: 400px; /* Ajusta la altura */
    overflow-y: auto;
    border: 1px solid #ddd; /* Borde sutil */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para efecto */
    position: relative;
  }


  /* Estilos modernos para el scroll */
  .vol-table-container::-webkit-scrollbar {
    width: 8px;
}

  .vol-table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
}

  .vol-table-container::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #007bff, #00d4ff);
    border-radius: 8px;
}

  .vol-table-container::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #0056b3, #009acd);
}



  .volumes-table {
    width: 100%;
    border-collapse: collapse;
    /*margin-top: 20px;*/
  }

  .volumes-table th,
  .volumes-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .volumes-table th {
    background-color: #333;
    color: white;
    position: sticky;
        top: 0;
        z-index: 1;
  }

  .volumes-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  .volumes-table tr:hover {
    background-color: #f1f1f1;
  }

  .volumes-table td {
    color: #555;
  }

  /* Responsive */
  @media screen and (max-width: 768px) {
    .book-header {
      flex-direction: column;
      text-align: center;
    }

    .book-image {
      padding-right: 0;
      max-width: 100%;
      margin-bottom: 20px;
    }

    .book-info {
      flex: 1;
    }
  }

  /* Button Styling */
  .details-btn {
    display: inline-block;
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
  }

  .details-btn:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
  }

  .details-btn:active {
    background-color: #004080;
    transform: translateY(0);
  }

  #btnAction {
    padding: 6.5px 5px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #btnAction[type="button"] {
    background-color: #0275d8;
  }

  #btnAction:hover {
    background-color: #4cae4c;
  }

  #btnAction[type="button"]:hover {
    background-color: #025aa5;
  }

  th {
    text-align: center;
  }
